# Ignore virtual environments
venv/
__pycache__/

# Ignore large files like models
*.h5
*.dylib

# Ignore macOS system files
.DS_Store

# Python cache
*.pyc
*.pyo
*.pyd
.Python

# Ignore IDE settings
.vscode/
.idea/